*, *:after, *:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

h1 {
    color: blueviolet;
    font-size: 30px;
}

header p {
    color: gray;
}
